@page
@model ProyectoFinalCsPharma.Pages.EstadosDevolucionPedido.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "EstadosDevolucionPedido";
}

<h1>Create</h1>

<h4>TdcCatEstadosDevolucionPedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosDevolucionPedido.MdUuid" class="control-label"></label>
                <input asp-for="TdcCatEstadosDevolucionPedido.MdUuid" class="form-control" />
                <span asp-validation-for="TdcCatEstadosDevolucionPedido.MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosDevolucionPedido.MdDate" class="control-label"></label>
                <input asp-for="TdcCatEstadosDevolucionPedido.MdDate" class="form-control" />
                <span asp-validation-for="TdcCatEstadosDevolucionPedido.MdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosDevolucionPedido.CodEstadoDevolucion" class="control-label"></label>
                <input asp-for="TdcCatEstadosDevolucionPedido.CodEstadoDevolucion" class="form-control" />
                <span asp-validation-for="TdcCatEstadosDevolucionPedido.CodEstadoDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TdcCatEstadosDevolucionPedido.DesEstadoDevolucion" class="control-label"></label>
                <input asp-for="TdcCatEstadosDevolucionPedido.DesEstadoDevolucion" class="form-control" />
                <span asp-validation-for="TdcCatEstadosDevolucionPedido.DesEstadoDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
