@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="body row">
    <div class="col-md-4">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="~/img/Logo.png" alt="Logo" width="200" height="150" class="d-inline-block align-text-top">
        </a>
        <section>
            <form class="form" id="account" method="post">
                <h2 style="color: #5dc1b9 !important;">Inicia sesión con tu cuenta</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="username mb-3 row justify-content-center">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="box col-sm-2 col-form-label" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="password mb-3 row justify-content-center">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="box col-sm-2 col-form-label" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="button">Iniciar sesión</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste la contraseña?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">¿No estás registrado? Registrate aquí</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Enviar email de confirmación</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
